<div class="container">
  <div class="wish-list-container">
    <h1>Bienvenue dans votre wishlist</h1>
    <p>Vous avez recemment ajouté les activité suivantes :</p>
    <div class="event-cards"> 
      <ul class="tilesWrap">
        <% num = 0 %>
        <% @events.each do |event| %>
          <li>
            <h2><%= num += 1 %></h2>
            <h3><%= event.activity.title %></h3>
            <p><%= event.activity.duration %> minutes</p>
            <%= link_to 'Supprimer', wish_list_path(current_user.wish_list), class: 'wishlist-card-btn', method: :delete, data: { confirm: "You will destroy #{event.activity.title.upcase}, Are you sure?" } %>
          </li>
        <% end %>
      </ul>
    </div>
    <!-- lien vers le calendrier à rajouter à la place du '#'-->
    <%= link_to 'Créer mon agenda', '#', id: "btn-gradiant"  %>
  </div>
</div>
