
<!-- CALENDAR NOTIF -->
<div class="container">
  <div class="cenlendar-content">
    <!-- <h1><%= (Time.now + 1.month).strftime("%B").upcase %> - <%= Time.now.year %></h1> -->
    <h1><%= (current_user.wish_list.start_at + 0.month).strftime("%B").upcase %> - <%= Time.now.year %></h1>
    
    <div class="days-columns">
      <h2><%= (current_user.wish_list.start_at + 0.day).strftime("%A").upcase %></h2>
      <h2><%= (current_user.wish_list.end_at + 0.day).strftime("%A").upcase %></h2>
    </div>

    <ul id="results">
      <% @events.sort_by(&:created_at).each do |event| %>
          <li data-event-id="<%= event.id %>">
            <div class="day-information">
              <div class="day-now">
                <%#= Time.now.day %>
                <%= current_user.wish_list.start_at.day %>
              </div>
              <div class="month-now">
                <%#= (Time.now + 1.month).strftime("%B")[0..2].upcase %>
                <%= (current_user.wish_list.start_at + 0.month).strftime("%B")[0..2].upcase %>
              </div>
            </div>

            <div class="event-calendar-informations">
              <h2><%= event.activity.title.upcase %></h2>

              <div class="event-calendar-informations-inline">
                <div class="event-calendar-duration">
                  <i class="fas fa-stopwatch"></i>
                  <p><%= event.activity.duration/60 %>h</p>
                </div>
                <div class="event-calendar-address">
                  <i class="fas fa-map-marker-alt"></i>
                  <p><%= event.activity.address %></p>
                </div>
              </div>
            </div>
          </li>
        <% end %>
    </ul>
    
  </div>
</div>
