
<ul id="results">
<% @events.sort_by(&:start_time).each do |event| %>
    <li data-event-id="<%= event.id %>" ><%= event.activity.title %>
        <%= event.activity.duration %></li>
  <% end %>
</ul>

<%= week_calendar events: @events do |date, events| %>
  <%= date %>

  <% events.each do |event| %>
    <div>
      <%= event.activity.title %>
    </div>
  <% end %>
<% end %>
