<div class="top-navbar">
  <div class="container">
    <div class="top-navbar-content">
      <%= link_to 'EVENTPIK', root_path, class: 'top-navbar-logo' %>
      <div class="top-navbar-menu">
        <ul>
          <% if user_signed_in? %>
            <li class="top-navbar-item">
              <% if current_user.wish_list.events.empty? %>
                <%#= link_to "Ma wishlist", wish_list_path(current_user.wish_list), id: 'wishlist-menu'%>
                <p id='wishlist-menu'>Ma wishlist</p>
              <% else %>
                <p id='wishlist-menu'>Ma wishlist</p>
                <div class="events-count">
                  <%= "#{current_user.wish_list.events.count}" %>
                </div>
              <% end %>
            </li>
            <li class="top-navbar-item">
              <%= link_to "Mon calendrier", calendar_path(1) %>
            </li>
            <li class="top-navbar-item">
              <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete %>
            </li>
          <% else %>
            <li class="top-navbar-item">
              <%= link_to "Se connecter", new_user_session_path %>
            </li>

            <li class="top-navbar-item">
              <%= link_to "S'inscrire",  new_user_registration_path, id: "btn-gradiant" %>
            </li>
          <% end %>
        </ul>
      </div>   
    </div>
  </div>
</div>
