<div class="container">
<h1>Nos propositions</h1>

  <div class="main-container">   
    <div class="cards">
      <div class="card">
        <% @activities.each do |activity| %>
          <div class="card-body">
            <h5 class="card-title"><%= activity.title %></h5>
              <div class="card-text">
                <p><%= activity.category %></p>
                <p><%= activity.price %>€</p>
                <p><%= activity.rating %></p>
                <%= link_to 'Détails', activity_path(activity), class:"btn" %>
              </div>
          </div>
        <% end %> 
      </div>
    </div>
    
    <div id="map"
        style="width: 50%; height: 100vh;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
  </div>
</div> 

