<div class="container">
<h1>Nos propositions</h1>

  <div class="container-activities">
    <div class="cards">
      <% @activities.each do |activity| %>
        <div class="card-activity">
          <%= cl_image_tag activity.photo.key %>
          <div class="card-activity-infos">
            <div>
              <h2><%= link_to activity.title, activity_path(activity) %></h2>
              <p><%= activity.category %></p>  
              <p id="icons"> <% activity.rating.times do %>
                <i class="fas fa-star card-activity-rating"></i>
                <% end %>
              </p>
            </div>
              <p class="card-activity-pricing"><%= activity.price %>€</p>
          </div>
        </div>
      <% end %> 
    </div>
    <div id="map"
        style="width: 50%; height: 100vh;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
  </div>
</div> 

