<div class="container">

  <%=image_tag "./images/degustation-vin.png", alt: "Image" %>
  <%#= cl_image_tag @activity.photo.key %>

  <h1 style="border-bottom: 1px dashed black"><%= @activity.title %></h1>
    <p style="text-align: justify"><%= @activity.description %></p>
    <p>avis: <%= @activity.rating %>
    <% @activity.rating.times do %>
            <i class="fas fa-star star-yellow"></i>
          <% end %></p>
    <p class="category">catégorie: <%= @activity.category %> </p>
    <p>où: <%= @activity.address %> </p>
    <p>tarif: <%= @activity.price %>€</p>
    <p>Durée: <%= @activity.duration/60 %> heures</p>
    <p>Visitez le site: <%= link_to @activity.website_url, target: :_blank  %>  </p>
    <%= link_to "Add to wish list", "#", class: "btn btn-flat" %>
</div>


